body {
  margin: 0;
}
h1 {
  font-size: 25px;
  font-weight: 700;
  font-family: "Courier New", Courier, monospace;
}
h2 {
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
}
h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
button {
  border: 0;
  padding: 0.75vh 2vh 0.75vh 2vh;
  transition: 0.3s ease-in;
}

button:hover {
  opacity: 0.85;
}

.center {
  text-align: center;
}
.dark-blue {
  color: #495867;
}
.blue {
  color: #577399;
}
.light {
  color: #f7f7ff;
}
.red {
  color: #fe5f55;
}

.background-image {
  /* background-image: url('./images/typewriter-2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  /* margin: 0 0 5vh 0; */

  background-color: #f7f7ff;
}
nav {
  opacity: 0.9;
  background-color: #495867;
  box-shadow: 0 0 2px 0 #495867;
  backdrop-filter: blur(3px);
}
.nav-container {
  overflow: auto;
  width: 80%;
  margin: 0 auto;
}
.nav-items {
  float: right;
  display: flex;
  flex-direction: row;
  margin: 3vh 0vh 3vh 0vh;
}
.nav-item {
  margin: 0.5vh 1vh 0.5vh 1vh;
  transition: 0.3s;
  cursor: pointer;
  color: #f7f7ff;

  font-weight: 700;
  text-shadow: 0px 1px 0px #577399;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
}
.nav-item:hover {
  color: #fe5f55;
  text-shadow: none;
}

/* Hero Secition */
.hero-section {
  text-align: center;
  height: 40vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-section .hero {
  /* float:center; */
  margin-left: 10vh;
}
.hero-section img {
  height: 60vh;
  border-radius: 5px;
  box-shadow: 0 0 2px 0 grey;
}

/* Skills Section */
.skills-container {
  text-align: center;
  margin: 3vh 0 3vh 0;
}

.dark-background {
  background-color: #495867;
  padding: 5vh 0 5vh 0;
}
/* Portfolio Section */
.portfolio-section {
  background-color: #f7f7ff;
  overflow: auto;
  width: 80%;
  margin: 0 auto;

  /* border: 1px solid #000000; */
  box-shadow: 0 0 2px 0 grey;
  border-radius: 5px;

  padding: 1vh 1vh 1vh 1vh;
}
.portfolio-section .portfolio-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.skill {
  display: inline-block;
  border-radius: 5px;

  height: 14px;

  padding: 4px 8px 4px 8px;
  margin: 2px 4px 2px 4px;
  box-shadow: 0 1px 1px 0 #495867;

  font-size: 12px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;

  position: relative;

  cursor: pointer;

  transition: 0.3s;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currentlysupported by Chrome, Edge, Opera and Firefox */
}
.skill .text {
  margin-right: 10px;
}
.skill .close {
  position: absolute;
  width: 10px;

  right: 0;
  left: 0;
  margin: 0 auto;

  margin-right: 5px;
  margin-top: 2px;

  cursor: pointer;
}

.card {
  background-color: #577399;

  flex-basis: 30%;
  min-width: 250px;

  text-align: center;

  margin: 1vh 1vh 1vh 1vh;
  padding: 2vh 1vh 2vh 1vh;

  border-radius: 5px;
  box-shadow: 0 0 2px 0 grey;
}
.card .image {
  margin: 0 auto;
  width: 15vh;
  height: 20vh;
}
.card .skills {
  height: 15vh;
  border-radius: 5px;
  background-color: #f7f7ff;
  box-shadow: 0 0 1px 1px #495867;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 0.5vh 0 0.5vh;
  padding: 2vh 0 2vh 0;
}
.card .description {
  color: #f7f7ff;
  margin: 2vh 0 2vh 0;
}

.card button .icon {
  position: absolute;
  width: 20%;

  top: 0;
  left: 0;
  margin: 0 auto;

  margin-left: 0.75vh;
  margin-top: 0.75vh;
}
.card button .text {
  margin-left: 10px;
}
.card button {
  border-radius: 5px;
  box-shadow: 0px 0px 1px 1px #495867;
  margin: 1vh;

  /* padding: 0.5vh 2vh 0.5vh 2vh; */

  font-size: 18px;
  font-weight: 600;

  cursor: pointer;
  position: relative;
}
.demo-button {
  color: #577399;
  background-color: #f7f7ff;
}
.github-button {
  color: #f7f7ff;
  background-color: #fe5f55;
}

.me-section {
  text-align: center;
  margin: 2vh 0 2vh 0;
  width: 80%;
  margin: 0 auto;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.icon-card {
  background-color: #577399;

  flex-basis: 20%;
  min-width: 300px;

  /* height: 30vh; */

  text-align: center;

  margin: 1vh 2vh 1vh 2vh;
  padding: 2vh 2vh 2vh 2vh;

  border-radius: 5px;
  box-shadow: 0 0 2px 0 #577399;

  overflow: hidden;
  /* position: relative; */
}
.icon-card .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 70%;

  margin: 1vh 0 1vh 0;
}
.title {
  color: #f7f7ff;
  font-family: "Courier New", Courier, monospace;
  font-size: 24px;
  font-weight: 700;
}
.icon-card img {
  width: 50%;
}
.icon-card .description {
  color: #f7f7ff;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
}
.icon-card button {
  color: #f7f7ff;
  background-color: #fe5f55;
  border-radius: 2px;
  box-shadow: 0 0 1px 1px #495867;

  font-weight: 600;
  font-size: 18px;

  margin-bottom: 10px;
  cursor: pointer;
}
.footer img {
  width: 100px;
}

.content-slide-left {
  animation: content-slide-left 0.6s ease-in forwards;
}
@keyframes content-slide-left {
  0% {
    transform: translate3d(300px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
.content-slide-right {
  animation: content-slide-right 0.6s ease-in forwards;
}
@keyframes content-slide-right {
  0% {
    transform: translate3d(-300px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
