html {
  background-color: #f7f7ff;
  scroll-behavior: smooth;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 32px;
  font-weight: 700;
  font-family: "Courier New", Courier, monospace;
}
h2 {
  font-size: 20px;
  font-weight: 700;
  font-family: "Courier New", Courier, monospace;
}
h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
button {
  border: 0;
  padding: 0.75vh 2vh 0.75vh 2vh;
  transition: 0.3s ease-in;
  z-index: 0;
}

button:hover {
  opacity: 0.85;
}

.center {
  text-align: center;
}
.dark-blue {
  color: #495867;
}
.blue {
  color: #577399;
}
.light {
  color: #f7f7ff;
}
.red {
  color: #fe5f55;
}

.vflex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hflex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-image {
  /* background-image: url('./images/typewriter-2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  /* margin: 0 0 5vh 0; */

  background-color: #f7f7ff;
}

/* Skills Section */
.skills-container {
  text-align: center;
  margin: 3vh 0 3vh 0;
}

.dark-background {
  background-color: #495867;
  padding: 5vh 0 5vh 0;
}
.light-background {
  background-color: #f7f7ff;
  padding: 5vh 0 5vh 0;
}
.skill {
  display: inline-block;
  border-radius: 5px;

  height: 14px;

  padding: 4px 8px 4px 8px;
  margin: 2px 4px 2px 4px;
  box-shadow: 0 1px 1px 0 #495867;

  font-size: 12px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;

  position: relative;

  cursor: pointer;

  transition: 0.3s;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currentlysupported by Chrome, Edge, Opera and Firefox */
}
.skill .text {
  margin-right: 10px;
}
.skill .close {
  position: absolute;
  width: 10px;

  right: 0;
  left: 0;
  margin: 0 auto;

  margin-right: 5px;
  margin-top: 2px;

  cursor: pointer;
}
